* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    background-color: #FFF7ED;
    font-family: "Inter", sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;

}

/* Hide the default scrollbar */
body::-webkit-scrollbar {
    width: 0.65rem;
    height: 0.5rem;
}

/* Style the track */
body::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

/* Style the thumb */
body::-webkit-scrollbar-thumb {
    background-color: #5460b5;
    border-radius: 0.9rem;
}

/* Style the thumb on hover */
body::-webkit-scrollbar-thumb:hover {
    background-color: #1518bd;
}

/* Make the scrollbar smoother */
body {
    overflow-y: scroll;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}




/*register form*/
.form-container {
    max-width: 400px;
    margin: 0 auto;
}

.form-label {
    display: block;
    margin-bottom: 10px;
}

.form-input {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-button {
    display: block;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.form-button:hover {
    background-color: #3e8e41;
}

/*post card*/
.post-details {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.post-details h2 {
    margin-top: 0;
}

.post-details .post-price {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.post-details .post-description {
    margin-bottom: 10px;
}

.post-details .post-location {
    display: block;
    margin-top: 10px;
    color: red;
}

/*navbar*/
.container {
    max-width: 800px;
    margin: 0 auto;
}

.navbar {
    background-color: #f8f8f8;
    padding: 10px;
    border-radius: 5px;
}

.navbar-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.navbar-item {
    margin-right: 10px;
}

.navbar-link {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    padding: 5px;
    border-radius: 3px;
}

.navbar-link:hover {
    background-color: #ddd;
}

.content {
    margin-top: 20px;
}

.site-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

}

header {
    height: 110px;
    display: flex;
    align-items: center;
    padding-block: 10px;
}

header .site-logo {
    color: black;
    margin-right: auto;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 25px;
}

header a {
    text-decoration: none;
    color: #4D4D4D;
    font-weight: 600;
    padding: 5px 20px;
}

header a:hover {
    color: #161616;
    text-decoration: underline;
}







/*footer*/
footer {
    background-color: #161616;
    color: #AAAAAA;
    height: 74px;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    font-weight: 500;
}

/* update profile form*/
.form-container {
    max-width: 500px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px #ccc;
}

.form-group {
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="file"] {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 16px;
}

small {
    font-size: 12px;
    color: #999;
    margin-left: 5px;
    margin-top: 5px;
}

button[type="submit"],
button[type="button"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

button[type="submit"]:hover,
button[type="button"]:hover {
    background-color: #3e8e41;
}

/*modal  */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(174, 171, 190, 0.5);
    backdrop-filter: blur(5px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content {
    background-color: rgba(255, 255, 255, 0.75);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    max-width: 400px;
    height: 40vh;
    width: 100%;
}

.update-modal {
    height: 100vh;

}

.modal-content h2 {
    margin-top: 0;
}

.modal-content label {
    display: block;
    margin-bottom: 5px;
}

.modal-content input[type="email"] {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.modal-content button {
    display: block;
    margin-top: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

.modal-close {
    position: absolute;
    top: 20%;
    right: 40%;
    padding: 5px;
    border-radius: 50%;
    border: none;
    background-color: #fff;
    color: #007bff;
    font-weight: bold;
    cursor: pointer;
}

.update-close-btn {
    top: 2%;
    right: 25%;
}

/*posts page*/
.post-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
    padding: 1rem;
}

.post {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(180, 185, 198, 0.2);
    background-color: #FFF7ED;
    height: 500px;

}

.post {
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 5px;
    height: 500px;
}

.video-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;

}

.post h1 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #1E90FF;
}

.post div {
    margin-bottom: 5px;
}

.post strong {
    font-weight: bold;
}

.post a {
    color: #0077cc;
    text-decoration: none;
}

.post a:hover {
    text-decoration: underline;
}

.post {
    position: relative;
    width: 100%;

}

.post .video-wrapper {
    position: relative;
    height: 0;
    padding-bottom: 56.25%;

}

.post .video-wrapper video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.post .video-title {
    position: absolute;
    top: 20px;
    left: 20px;
    color: #fff;
}

.post .video-details {
    position: absolute;
    bottom: 20px;
    right: 20px;
    color: #cc2f2f;
    display: flex;
    align-items: center;
}

.post .video-details strong {
    margin-right: 10px;
}

.post .video-details a {
    margin-left: 20px;
}

.post .video-details div {
    margin-right: 20px;
}

.video-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

/* filter div in posts page */
.filter-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    justify-self: center;
    background-color: #f2f4f8;
    padding: 12px;
}

.filter-container button {
    background-color: #1E90FF;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    margin-right: 1rem;
    margin-bottom: 0.5rem;
    cursor: pointer;
}

.filter-container button:hover {
    background-color: #87CEFA;
}

.filter-container label {
    font-size: 1rem;
    margin-right: 0.5rem;
    display: block;
}

.filter-container input[type="text"] {
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 0.5rem;
    width: 50%;
}

.filter-container input[type="text"]:focus {
    outline: none;
    border-color: #1E90FF;
    box-shadow: 0 0 3px 0 #1E90FF;
}

.filter-container button.search-btn {
    background-color: #1E90FF;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    margin-right: 0.5rem;
    cursor: pointer;
}

.filter-container button.search-btn:hover {
    background-color: #87CEFA;
}

.filter-container button.clear-btn {
    background-color: white;
    color: #1E90FF;
    border: 1px solid #1E90FF;
    border-radius: 5px;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.filter-container button.clear-btn:hover {
    background-color: #1E90FF;
    color: white;
}

/*load man */
/**
  * Load man - gaming inspired loader
  *
  * @author jh3y - jheytompkins.com
*/
.load-man {
    -webkit-animation: load-man-travel 1.2s infinite linear;
    animation: load-man-travel 1.2s infinite linear;
    background: repeating-linear-gradient(90deg, var(--secondary), var(--secondary) 5%, transparent 5%, transparent 35%);
    height: 10px;
    left: 50%;
    margin-top: -5px;
    position: absolute;
    top: 50%;
    width: 200px;
    /**
    * Our pseudo elements create the head pieces
    *
    * They are near identical minus subtle differences in animation and border
    * styling
  */
    /**
  * The top head piece
  */
    /**
  * The bottom head piece
  */
}

.load-man:after,
.load-man:before {
    content: '';
    position: absolute;
    left: -25px;
    top: 50%;
    border: 25px solid var(--primary);
    border-radius: 100%;
    margin-top: -25px;
}

.load-man:before {
    --close: -90;
    -webkit-animation: load-man-chomp 0.35s infinite linear;
    animation: load-man-chomp 0.35s infinite linear;
    border-bottom-color: transparent;
    border-left-color: transparent;
}

.load-man:after {
    --close: 0;
    -webkit-animation: load-man-chomp 0.35s infinite linear;
    animation: load-man-chomp 0.35s infinite linear;
    border-right-color: transparent;
    border-top-color: transparent;
}

@-webkit-keyframes load-man-travel {
    to {
        background-position: -200px 0;
    }
}

@keyframes load-man-travel {
    to {
        background-position: -200px 0;
    }
}

@-webkit-keyframes load-man-chomp {
    0% {
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }

    50% {
        -webkit-transform: rotate(calc(var(--close) * 1deg));
        transform: rotate(calc(var(--close) * 1deg));
    }

    100% {
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
}

@keyframes load-man-chomp {
    0% {
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }

    50% {
        -webkit-transform: rotate(calc(var(--close) * 1deg));
        transform: rotate(calc(var(--close) * 1deg));
    }

    100% {
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
}